* {
  font-family: Inter Medium;
}

window {
  margin: 1px;
  border-radius: 10px;
  border: 2px solid #9cc5a1;
  opacity: 50%;
  background-color: rgba(31, 36, 33, 0.4);
}

#input {
  margin: 5px;
  border-radius: 10px;
  border: none;
  border-bottom: 0px solid #c0caf5;
  background-color: #1d202f;
  color: #c0caf5;
}

#inner-box {
  margin: 5px;
}

#outer-box {
  border-radius: 10px;
  padding: 20px;
  background-color: rgba(31, 36, 33, 0.4);
}

#text {
  margin: 5px;
  color: #dce1de;
}

#entry:selected {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  border: 1px solid white;
}

#text:selected {
  text-decoration-color: #c0caf5;
}
